<% layout("/lalyouts/boilerplate") %>
<body>
    <div class="row ">
        <div class="alert alert-danger  pt-1 pb-1 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3  " role="alert">
            <div class="text-center">
                <%= message %>
            </div>
        </div>
    </div>
</body>