<footer>
    <br>
    <div class="social-icon">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="copyright">
        &#169; 2024. Travels private limited 
    </div>

    <div class="pages">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    <br>
</footer>